<?xml version='1.0' encoding='utf-8'?>
<widget id="com.benharrington.speedometer" version="0.0.3" versionCode="2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Speedometer</name>
    <description>
        A simple speedometer mobile app.
    </description>
    <author email="ben@harringtonweb.com" href="http://www.benharrington.com/">
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="geo:*" />
    <icon src="icon.png" />
    <plugin name="cordova-plugin-geolocation" spec="~2.1.0" />
</widget>
